<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head')  %> 

<body>
    <%- include('./partials/header')  %> 

    <main>
        <section class="center main-content">
        <h1>Nuevo Post</h1>
        <form action="/post/nuevoPost" method="POST" enctype="multipart/form-data">
            <div>
                <label for="imagen">Imagen</label>
                <input type="file" name="imagen" placeholder="Imagen">
            </div>
            <div>
                <label for="texto">Texto de la imagen</label>
                <input type="text" name="texto" placeholder="Como es la imagen?">
            </div>
            <% if(locals.errors) { %>
                <p><%= locals.errors.message %></p>
            <% } %>
            <button type="submit">Agrega el post</button>
        </form>
        </section>
    </main>

    <%- include('./partials/footer')  %> 

</body>

</html>